{% schema %}
{
  "name": "AiTrillion Products",
  "settings": [],
  "presets": [
    {
      "name": "AiTrillion Product Rewards",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div id="aio_reward_shortcode"></div>
