<!-- blocks/my-account-block start -->

<div id="aio-my-account-app"
     data-customer-id="{{ customer.id }}"
     data-shop-url="{{ shop.permanent_domain }}" data-shop-name="{{ shop.name }}" style="min-height:400px;display:none" class="aio-block-width"></div>

<script src="https://static.aitrillion.com/aio-script/aio-my-account.js" defer></script>
<style>

.aio-block-width{
  width:100%;
  text-align:center;
}
.aio-block-width .aio-app-container {
  text-align:left;
  width:1200px;
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
  padding-top:15px;
  padding-bottom:15px;
  display:inline-block;
} 
.aio-section-body .custom-menu-body {
    text-align: center;
}
.aio-section-body .custom-menu-body a {
    background-color: #e87da8;
    color: #fff;
    display: inline-block;
    padding: 8px 24px;
    line-height: 25.41px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: capitalize;
}
</style>        
  <!-- blocks/my-account-block end -->